<div id="wrapper">

  <h1>Editing admin_module_rate</h1>

  <div id="forma2">
    <%= render 'form' %>

    <%= link_to 'Show', @admin_module_rate %> |
    <%= link_to 'Back', admin_module_rates_path %>
  </div>

</div>


<div id="footer">
  Domagoj Čajić | 2012
</div>
