<div id="wrapper">

  <h1>New admin_module_rate</h1>

  <div id="forma2">
    <%= render 'form' %>

    <%= link_to 'Back', admin_module_rates_path %>
  </div>
</div>


<div id="footer">
  Domagoj Čajić | 2012
</div>
