<div id="wrapper3">

  <h1>Editing admin_module_weather</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @admin_module_weather %> |
  <%= link_to 'Back', admin_module_weathers_path %>

</div>

<div id="footer2">
  Domagoj Čajić | 2012
</div>