<h2>Currencies</h2>


<table>
  <tr>
    <th>
      Currency Abbreviation
    </th>
  </tr>

      <tr>
        <td style="text-align: center;">
            rails generate scaffold Admin::ModuleRates (timestamp:integer, :null => false, :unique => true)
          <% @currencies.each_pair do |abbr, name| %>
              <%= abbr %>:decimal{15,6}
          <% end %>
        </td>
      </tr>

</table>