body {background:#7eaff4 url('../images/BG.png') 0px 0px repeat-x;}

h1 {color:#222; font-size:24px; text-align:center; margin-bottom:35px; margin-top:20px;}

a {margin-right:5px; font-weight:bold; text-decoration:none; color:#06C;}

a:hover {text-decoration:underline}

#header{background:#000; height:50px; }

#wrapper{ width:900px; background-color:#FFF; margin-left:auto; margin-right:auto; font-family:Trebuchet MS, sans-serif; font-size:14px; line-height:20px; padding:10px;}

#wrapper2{ width:980px; background-color:#FFF; margin-left:auto; margin-right:auto; font-family:Trebuchet MS, sans-serif; font-size:14px; line-height:20px; padding:10px;}

#wrapper3{ width:940px; height: 600px; background-color:#FFF; margin-left:auto; margin-right:auto; font-family:Trebuchet MS, sans-serif; font-size:14px; line-height:20px; padding:10px;}

#container{ width:880px; background-color:#FFF; font-family:Trebuchet MS, sans-serif; font-size:14px; line-height:20px; padding:10px; float:left;}

#footer{ width:900px; height:50px; padding:10px; text-align:center; vertical-allign:center; background-color:#000; color:#FFF; line-height:40px; margin-left:auto; margin-right:auto;}

#footer2{ width:980px; height:50px; padding:10px; text-align:center; vertical-allign:center; background-color:#000; color:#FFF; line-height:40px; margin-left:auto; margin-right:auto;}

#footer3{ width:940px; height:50px; padding:10px; text-align:center; vertical-allign:center; background-color:#000; color:#FFF; line-height:40px; margin-left:auto; margin-right:auto;}

#forma {text-align:left;  width:600px; margin-left:auto; margin-right:auto; margin-top:30px; background-color:#f1f2f2; padding:20px; margin-bottom: 100px; border:1px solid #BBB;}

#forma2 {text-align:left;  width:700px; margin-left:auto; margin-right:auto; margin-top:30px; background-color:#f1f2f2; padding:20px; margin-bottom: 100px; border:1px solid #BBB;}

.field {margin-bottom:15px;}
.actions {margin-bottom:15px;}

form input[type=text]{width:210px; height:25px; line-height:25px; border:1px solid #444;  margin-right: 15px;}
form input[type=text]:focus,form textarea:focus{background:#eff8fd;}

textarea{line-height:25px; border:1px solid #444;  margin-right: 15px;}
textarea:focus{background:#eff8fd;}