<div id="wrapper">
  <h1>Editing log</h1>

  <div id="forma">
    <%= render 'form' %>

    <%= link_to 'Show', @log %> |
    <%= link_to 'Back', logs_path %>
  </div>

</div>


<div id="footer">
  Domagoj Čajić | 2012
</div>